# ***Data Transformation with Pandas : Grouping , Merging and Concatenating***

***1.Group-By:*** It is used to group your data based on one or more columns. This allows you to apply aggreagate function such as mean ,median ,sum , or count to your data , based on the groups

***2.Merging and joining dataframes:*** It is used to combine data from multiple dataframes into a single dataframe.

***3.Concatenating :*** It is mainly used to reorganise data .It allows you to combine dataframes vertically or horizontally,while reshaping allows you to rearrange the data in your dataframes into different shapes

In [1]:
import pandas as pd

In [3]:
# group by 
data = { 'Name' : ['vidhi '  ,'ALpha' ,'devdutt' ,'Riya'],
       'Age' : [20,34,22,18],
       'Country' : ['India' ,'Brazil' , 'India' ,'Nepal']}
df = pd.DataFrame(data)
groupeddata = df.groupby(['Country'])
print(groupeddata['Age'].mean())

Country
Brazil    34.0
India     21.0
Nepal     18.0
Name: Age, dtype: float64

In [6]:
# merging and joining 
data1 = {"Name" :['vidhi'  ,'ALpha' ,'devdutt' ,'Riya'],
        "Age" :  [20,34,22,18]}
data2 = {'Name' :['vidhi'  ,'ALpha' ,'devdutt' ,'Riya'],
        'Color' :['Pink','Blue','white' ,'Red']}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
mergeddata = pd.merge(df1,df2,on='Name')
print(mergeddata)

      Name  Age  Color
0    vidhi   20   Pink
1    ALpha   34   Blue
2  devdutt   22  white
3     Riya   18    Red

In [7]:
#concatenation 
data1 = {"Name" :['vidhi'  ,'ALpha' ],
        "Age" :  [20,34,]}
data2 = {'Name' :['devdutt' ,'Riya'],
        'Age' :[22,18]}
df1 = pd.DataFrame(data1)
df2=pd.DataFrame(data2)
conacatenateddata = pd.concat([df1,df2] ,axis = 0 )
print(conacatenateddata)

      Name  Age
0    vidhi   20
1    ALpha   34
0  devdutt   22
1     Riya   18

In [9]:
# in another axis 
data1 = {"Name" :['vidhi'  ,'ALpha' ],
        "Age" :  [20,34,]}
data2 = {'Name' :['devdutt' ,'Riya'],
        'Age' :[22,18]}
df1 = pd.DataFrame(data1)
df2=pd.DataFrame(data2)
conacatenateddata = pd.concat([df1,df2] ,axis = 1)
print(conacatenateddata)

    Name  Age     Name  Age
0  vidhi   20  devdutt   22
1  ALpha   34     Riya   18