# ***Indexing & Slicing***

The indexing ans slicing technique are useful when you need to extract specific pieces of information from your data.

***Indexing*** in Pandas allows you to extract specific values or group of values from a Series or a DataFrame

***SLicing*** in Pandas allows you to extract a portion of the data in your Series and DataFrame

In [2]:
import pandas as pd

In [3]:
#indexing

In [4]:
data = { 'Name' : ['vidhi '  ,'ALpha' ,'devdutt' ,'Riya'],
       'Age' : [20,34,22,18],
       'Country' : ['India' ,'Brazil' , 'Germany' ,'Franze']}
df = pd.DataFrame(data)
df

      Name  Age  Country
0   vidhi    20    India
1    ALpha   34   Brazil
2  devdutt   22  Germany
3     Riya   18   Franze

In [5]:
# Indexing using particular column name

In [6]:
print(df['Age'])

0    20
1    34
2    22
3    18
Name: Age, dtype: int64

In [8]:
# To main methods used in Indexing in Pandas is df.loc and df.iloc
# df.loc takes the integer values whereas df.iloc is used to access data with the help of columns names or list of labells

In [11]:
# df.loc

print(df.loc[0,'Name'])
#df.iloc
# row_indexer ,col_indexer
print(df.iloc[0,0])

vidhi
vidhi

In [12]:
# Slicing = used to extract the rows from the data Frame

In [14]:
print(df[0:3])

      Name  Age  Country
0   vidhi    20    India
1    ALpha   34   Brazil
2  devdutt   22  Germany

In [15]:
#(start :stop , col_indexer)
print(df.loc[1:3,['Name' ,'Country']])

      Name  Country
1    ALpha   Brazil
2  devdutt  Germany
3     Riya   Franze