# ***Sorting , Filtering & Mapping Of Data***

##### Pandas provides a wide range of functions for manipulating and analyzing data , including sorting,filtering ,reshaping and mapping.

***Sorting*** is the process of arranging data in a particular order.

***Filtering*** data is the process of selecting a subset of data based on certain conditions.

***Reshaping*** data is the process of transforming data from one form to another.

***Mapping*** data is the process of replacing one value with another value.

In [1]:
import pandas as pd

In [2]:
data = {'Name' : ['Vidhi' ,'Riya' ,'Devdutt' ,'Rohan'],
       'English': [40,42,43,34],
       'Maths' : [45,40,42,37],
       'Hindi' : [37,40,37,45]}
df = pd.DataFrame(data,index = [1,2,3,4])
df

      Name  English  Maths  Hindi
1    Vidhi       40     45     37
2     Riya       42     40     40
3  Devdutt       43     42     37
4    Rohan       34     37     45

In [7]:
#sorting data
engdatasort = df.sort_values(by=['English'] , ascending = False)
print(engdatasort)
print('\n')
#sorting multiple columns 
data_s = df.sort_values(by=['English' ,'Maths'] , ascending=[True,False])
print(data_s)

      Name  English  Maths  Hindi
3  Devdutt       43     42     37
2     Riya       42     40     40
1    Vidhi       40     45     37
4    Rohan       34     37     45


      Name  English  Maths  Hindi
4    Rohan       34     37     45
1    Vidhi       40     45     37
2     Riya       42     40     40
3  Devdutt       43     42     37

In [13]:
#filtering data 
#filtering of data is basically done with the help of boolean values / indexes

filterdata = df[df['Maths']>42]
print(filterdata)
print('\n')
filterdataa = df[(df['Maths']>40) & (df['Hindi'] >35)]
print(filterdataa)

    Name  English  Maths  Hindi
1  Vidhi       40     45     37


      Name  English  Maths  Hindi
1    Vidhi       40     45     37
3  Devdutt       43     42     37

In [16]:
#mapping 
mappeddata = {'Vidhi' :2 ,'Riya' :1 , 'Devdutt' :2 , "Rohan" : 0}
df['Proficieny']=df['Name'].map(mappeddata)
df

      Name  English  Maths  Hindi  Proficieny
1    Vidhi       40     45     37           2
2     Riya       42     40     40           1
3  Devdutt       43     42     37           2
4    Rohan       34     37     45           0