# ***Time Series Analysis***

Time series analysis is a statistical technique that can be used to extract meaningful insights from time series data.

It is  commonly used in various fields, such as finance ,economics , weather  forecasting and many others.

In [1]:
import pandas as pd

In [5]:
#DateTimeIndex #DateTime These are the two objects that used to represent the date and time in pandas 
#DateTimeIndex used to represent the time series index 
#DateTime used to represent a single value of date and time
import datetime as dt
date = dt.datetime(2024,7,7 ,4,59,19)
print(date.month)
print(date.year)

7
2024

In [7]:
df = pd.DataFrame({'A' :[1,2,3]},index=pd.DatetimeIndex(['2024-07-07',"2023-06-06","2022-05-05"]))
df

            A
2024-07-07  1
2023-06-06  2
2022-05-05  3

In [ ]:
# shifting -used to move the timeperiod forward or backward  by a specified no of time periods
# lagging - used to create a new column with a time series data shifted by a specified no of time period 
# resampling - used to change the frequency of data 
shifted_data = df.shift(periods = 1)
print(shifted_data)